body
{
    padding: 0;
    margin: 0;
    background-color: darkslategrey;
    color: white;
}

.margin
{
    margin-left: 10px;
}

#title
{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: darkmagenta;
    color: white;
}

#navBar
{
    outline: grey solid 2px;
    background-color: darkmagenta;
    font-size: large;
    width: 100%;
}

#navBar, a:link
{
    color: white;
    text-decoration: none;
    margin-right: 10px;
    padding-top: 5px;
}

#navBar, a:hover
{
    color: blue;
}

#navBar, a:visited
{
    color: white;
    text-decoration: none;
}

#opskrift
{
    margin-left: 2px;
    margin-right: 2px;
    outline: gray solid 2px;
}

#trosbekendelse
{
    margin-left: 10px;
    margin-bottom: 100px;
    margin-right: 40%;
}

#spilCanvas
{
    background-image: url(hentai.jpg);
}

#politiDiv
{
    /*position: absolute;
    top: 70%;*/
    width: 315px;
    margin-top: 20px;
}

#politiDiv img
{
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}

#chiliInst
{
    margin-top: 0;
    float: right;
}

#scorchedCanvas
{
    background-image: url(kanon/background.jpg);
}

a.normLink:link
{
    color: white;
    text-decoration: underline;
    font-size: xx-large;
}

a.normLink:visited
{
    color: white;
    text-decoration: underline;
    font-size: xx-large;
}

a.normLink:hover
{
    color: blue;
    font-size: xx-large;
}
